/* COLORS
thistle2 (light purple)	#EED2EE
orfu pink	(medium purple) #ECC8EC
thistle (SVG)	(dark purple) #D8BFD8
bermuda (purple/peach)	#F6C9CC
camo1 (pastel green)	#CFDBC5
lavenderblush (SVG) (light pink)	#FFF0F5
lavenderblush2	(purple grey) #EEE0E5
dark burgundy #500000
*/

body{
    background-color: #F5F5F5;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 24px;
}

h2 {
    color: #500000;
    font-size: 30px;
    padding: 20px 0;
    padding-top: 75px;
    margin-top: -75px;
}

p {
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}

section {
    padding: 20px;
    padding-top: 100px;
}
/* ------- NAV BAR ---------- */

nav {
    width: 100%;
    background-color: #EEE0E5;
    position: fixed;
    top: 0;
    display: block;
    padding: 20px 0px;
    font-size: 16px;
    box-sizing: border-box;
    height: 60px;
    z-index: 1;
}

nav ul {
    display: block;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    cursor: pointer;
    padding: 10px;
}

#page-header nav li:first-child{
  	float:right;
  	display: none;
  	cursor: pointer;
}

nav .line{
  	width: 3em;
  	height: .3em;
  	background: #500000;
  	border-radius: 1em;
  	margin-top: .25em;
}

.slideToggle {
    height: 20em;
}

#page-header ul {
    padding: 0;
}

a {
    text-decoration: none;
}

/* unvisited link */
nav a:link {
    color: #500000;
}

/* visited link */
nav a:visited {
    color: #500000;
}

/* mouse over link */
nav a:hover {
    color: #500000;
	  border-bottom: 5px solid #CFDBC5;
    text-decoration: none;
}

/* selected link */
nav a:active {
    color: #500000;
}

/* --------------- TOP SECTION ------------- */

.top-section {
    width: 100%;
    margin: 0 auto;
    height: auto;

}

.top-section img {
    width:100%;
    max-width: 100%;
    /*padding-top: 90px;
    margin-top: -90px;*/
    display: block;
}


/* --------------- THEIR STORY SECTION --------------- */

#their-story-section {
    clear: both;
}

#story-container {
    width: 100%;
    float: left;
}

#story-container img {
    width: 75px;
    height: auto;
    padding-bottom: 20px;
}

#story-container span {
    font-size: 30px;
    padding: 0 20px;
}

.jean, .steve {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 16px;
}

/* --------------- PHOTOS SECTION --------------- */

#photos-section {
    clear: both;
}

#pics-slideshow {
    height: 700px;
    width: 700px;
    margin: 50px auto;
}

#pics-slideshow img {
    width: 100%;
}

.glyphicon-chevron-left:before {
    border-radius: 25%;
    background-color: grey;
    padding: 7px;
}

.glyphicon-chevron-right:before {
    color: black;
    border-radius: 25%;
    background-color: grey;
    padding: 7px;
}

.carousel-control {
    width: 5%;
}

.carousel-control.left, .carousel-control.right{
    background: transparent;
}


/* --------------- WEDDING DETAILS SECTION --------------- */

#wedding-details-section {
    float: left;
    width: 100%;
}

.event-details-ceremony {
    float:left;
    width: 50%;
    position: relative;
}

.event-details-reception {
    float: left;
    width: 50%;
    position: relative;
}

.event-details-reception p, .event-details-ceremony p {
    font-size: 18px;
    padding-bottom: 0;
}

iframe {
    padding: 20px 5px;
}


/* --------------- RSVP SECTION --------------- */

#rsvp-section {
    clear: both;
}

.rsvp-style {
    clear: both;
    border-style: double;
    border-width: 10px;
    border-color: #EEE0E5;
    margin: 15px;
}

.rsvp-style h3 {
    font-size: 24px;
    text-align: center;
}

h4.modal-title {
    font-size: 30px;
}

.modal-header {
    border-bottom: none;
}

.btn-primary {
    background-color: #EEE0E5;
    color: #500000;
    border-color: #ccc;
}

.btn-primary:visited {
    background-color: #EED2EE;
    color: #500000;
    border-color: #ccc;
}

.btn-primary:hover {
    background-color: #fff0f5;
    color: #500000;
    border-color: #ccc;
}

.btn-primary:active {
    background-color: grey;
    color: #500000;
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #ccc;
}

a:focus{
    outline:none;
    outline-offset: none;
    text-decoration: none;
}

/* To format the form: */
/* www.htmlgoodies.com/tutorials/forms/article.php/3888746/HTML-Forms-From-Basics-to-Style-Layouts.htm */

form {
    text-align: left;
}

legend {
    padding: 20px 0px;
    margin: 0;
    border-bottom: none;
}

label, input, textarea {
    font-size: 16px;
}

form p {
    font-size: 20px;
    padding: 10px 0;
}

/* --------------- FOOTER --------------- */

footer {
    color: #500000;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

footer a {
    color: #500000;
    text-decoration: none;
}

footer p a {
    color: #500000;
    border-bottom: 5px solid #CFDBC5;
}

footer p a:visited {
    color: #500000;
}

footer p a:hover {
    color: #500000;
    text-decoration: none;
}

footer p a:active {
    color: #500000;
}

footer a.backTop {
    border: 3px solid #CFDBC5;
    padding: 7px 5px;
}

footer a.backTop a:link {
    color: #500000;
}

footer a:focus, a:hover {
    color: #500000;
    text-decoration: none;
}




/*************** MEDIA QUERIES *******************/
@media screen and (max-width:1080px) and (min-width: 980px){
    nav {
      font-size: 18px;
    }
}

@media screen and (max-width:980px) and (min-width: 768px){
    nav {
      font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    body {
      font-size: 16px;
    }

    nav {
      width:100%;
      height: 60px;
    }

    .jean, .steve, .event-details-ceremony, .event-details-reception {
      width: 100%;
    }

    #pics-slideshow {
      width: 75%;
      margin: 10px auto;
    }

    #page-header nav ul li {
      display: block;
      float: none;
      background-color: #EEE0E5;

    }

  	#page-header nav li:first-child{
  		display:block;
  		position: absolute;
  		top:.25em;
  		right:.5em;
  	}

    .top-section img {
      padding-top: 60px;
    }

    .glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
      display: none;
    }

  	ul{
  		height:0;
  		transition:height 1s;
  		overflow: hidden;
  	}

}

@media screen and (max-width: 435px){
    body {
      font-size: 14px;
    }

    nav {
      width:100%;
      height: 60px;
    }

    .jean, .steve, .event-details-ceremony, .event-details-reception {
      width: 100%;
    }

    #pics-slideshow {
      width: 75%;
      margin: 10px auto;
    }

    #page-header nav ul li {
      display: block;
      float: none;
      background-color: #EEE0E5;

    }

    #page-header nav li:first-child{
      display:block;
      position: absolute;
      top:.25em;
      right:.5em;
    }

    .glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
      display: none;
    }

    iframe {
      width: 300px;
      height: auto;
    }

    ul{
      height:0;
      transition:height 1s;
      overflow: hidden;
    }
}



#heart {
    position: relative;
    width: 100px;
    height: 90px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
