html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    height:100%; /* force the BODY element to match the height of the HTML element */
    font-family:arial;
    color:black;
    background-image: url("dr-beach-50percent.jpg");
    background-size: cover;
    }

body a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

h1 {
    font-size: 70px;
    padding-bottom: 20px;
}

h2 {
    font-size: 30px;
    padding: 15px 0px;
    cursor: pointer;
}

h2:hover {
    font-size: 2em;
}

h4 {
    font-size: 30px;
}

ul {
    list-style: none;
}

p {
    font-family: 'Lora', serif;
    font-size: 20px;
    padding: 10px 0px;
}

p span {
    font-family: arial;
    font-size: 24px;
}

q {
     font-family: 'Lora', serif;
     font-style: italic;
}

li {
    font-size: 24px;
    padding: 10px 0px;
    z-index: 1;
}

.list {
    display: none;
}

section {
    width: 400px;
    background-color: #fefeff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

.section-margin {
    margin: 20px;
}

.my-story:hover {
    text-decoration: none;
}

a:focus {
    border-bottom: none;
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}

.indent {
    margin-left: 20px;
}
/*
#footer {
    color:black;
    clear:both;
    text-decoration:none;
    text-align:center;
    padding:5px;
}*/

@media screen and (max-width: 435px){

    h1 {
        font-size: 60px;
    }

    section {
        max-width: 100%;
        padding-left: 5%;
    }

    .section-margin {
        margin: 20px 5px 20px 0px;
    }

    .modal-body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    /*  -webkit-justify-content: center;
        justify-content: center;
    } */

    p {
        font-size: 20px;
        max-width: 90%;
    }

}
