/* colors
thistle2 (light purple)	#EED2EE
orfu pink	(medium purple) #ECC8EC
thistle (SVG)	(dark purple) #D8BFD8
bermuda (purple/peach)	#F6C9CC
camo1 (pastel green)	#CFDBC5
lavenderblush (SVG) (light pink)	#FFF0F5
lavenderblush2	(purple grey) #EEE0E5
dark burgundy #500000
 */

body{
  background-color: #F5F5F5;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 24px;
}

nav {
  width: 100%;
  background-color: #EEE0E5;
  position: fixed;
  top: 0;
  display: block;
  padding: 20px 0px;
  font-size: 16px;
  box-sizing: border-box;
  height: 60px;
  z-index: 1;
}

nav ul {
  display: block;
}

nav ul li {
  display: inline;
  cursor: pointer;
  padding: 10px;
}

a {
  text-decoration: none;
}

/* unvisited link */
nav a:link {
    color: #500000;
}

/* visited link */
nav a:visited {
    color: #500000;
}

/* mouse over link */
nav a:hover {
    color: #500000;
	  border-bottom: 5px solid #CFDBC5;
    text-decoration: none;
}

/* selected link */
nav a:active {
    color: #500000;
}

/* --------------- TOP SECTION ------------- */

.top-section {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.top-section img {
  width:100%;
  max-width: 100%;
  padding-top: 90px;
  margin-top: -90px;
  display: block;
}

h2 {
  color: #500000;
  font-size: 30px;
  padding: 20px 0;
  padding-top: 75px;
  margin-top: -75px;
}

p {
  font-family: 'Roboto Slab', serif;
  padding: 20px;
}

section {
  padding: 20px;
  padding-top: 100px;
}

/* --------------- THEIR STORY SECTION --------------- */

#their-story-section {
  clear: both;
}

#story-container {
  width: 100%;
  float: left;
}

#story-container img {
  width: 50px;
  height: 50px;
}

#story-container span {
  font-size: 30px;
  padding: 0 20px;
}

.jean, .steve {
  float: left;
  width: 50%;
}

/* --------------- PHOTO SECTION --------------- */

#photos-section {
  clear: both;
}

#pics-slideshow {
  height: 700px;
  width: 700px;
  margin: 50px 250px;
}

#pics-slideshow img {
  width: 100%;
}

.glyphicon-chevron-left:after {
  color: black;
}

.glyphicon-chevron-right:before {
  color: black;
}

.carousel-control.left{
  background: transparent;
}

.carousel-control.right{
  background: transparent;
}

/* --------------- WEDDING DETAILS SECTION --------------- */

#wedding-details-section {
  float: left;
  width: 100%;
  padding: 0;
}

.event-details-ceremony {
  float:left;
  width: 50%;
  position: relative;
}

.event-details-ceremony p span {
  text-align: left;
}

.ceremony-map {
  /*position: absolute;*/
  /*bottom: 0;
  left: 0;*/
}

.event-details-reception {
  float: left;
  width: 50%;
  position: relative;
}

.reception-map {
  /*position: absolute;*/
  /*bottom: 0;
  left: 0;*/
}

/* --------------- RSVP SECTION --------------- */

#rsvp-section {
  clear: both;
}

.rsvp-style {
  clear: both;
  padding: 20px 0px 20px 440px;
  border-style: double;
  border-width: 10px;
  border-color: #EEE0E5;
}

.rsvp-style h3 {
  font-size: 24px;
  text-align: center;
}

form {
  text-align: left;
}

legend {
  padding: 20px 0px;
  margin: 0;
  border-bottom: none;
}

label, input, textarea {
  font-size: 16px;
}

form p {
  font-size: 20px;
  padding: 10px 0;
}

footer {
  color: #500000;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
