html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    height:100%; /* force the BODY element to match the height of the HTML element */
    font-family:arial;
    color:black;
    background-image: url("images/noosa-heads.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    }

body a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    border-bottom: 3px solid black;
}

a:active {
    color: black;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    padding: 10px 0px;
    cursor: pointer;
}

ul {
    list-style: none;
}

p, li {
    padding: 7px 0px;
}

.list {
    display: none;
}

#right-div {
    width: 400px;
    background-color: #fefeff;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

.div-margin {
    margin: 20px;
}

.indent {
    margin-left: 20px;
}

.slideToggle {
    height: 20em;
}

#footer {
    color:black;
    clear:both;
    text-decoration:none;
    text-align:center;
    padding:5px;
}
