body {
    font-family:arial;
    color:black;
    background-color: #fff7f8;
    }

body a {
    text-decoration: none;
}

#left-div {
    width: 34%;
    float: left;
    background-color: #fff7f8;
}

#left-div p, h1 {
    padding-left: 10px;
}

#photo-div {
    color:black;
    width: 66%;
    float: left;
}

#photo-div img {
    width: 100%;
    height: auto;
}

.indent {
    padding-left: 40px;
}

#footer {
    color:black;
    clear:both;
    text-decoration:none;
    text-align:center;
    padding:5px;
}
